main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#avatar {
    width: 80%;
    max-width: 180px;
    height: auto;
    border-radius: 50%;
}

#socials a {
    display: inline-block;
    color: black;
    padding: 5px 10px;
    background: #cccccc;
    border-radius: 50%;
    font-size: large;
    transition: .3s;
}

#socials a:hover {
    background: black;
    color: white;
}
